.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;		/* 1 */
}

.header-label {
  margin-left:10px;
  margin-right: 10px;
  color:#00ba8b;
  font-weight:bold;
}
.
